:root {
  --snap-point-color: "red";
  --snap-point-size: 0.1;

  --stroke-color: grey;
  --stroke-width: 0.15px;

  --background-rect-color: black;
  --background-rect-width: var(--stroke-width);

  --pins-color: var(--background-rect-color);
  --pins-stroke-width: 0.2;

  --canvas-width: 200px;
  --canvas-height: 200px;

  --symbol-creator-canvas-width: 500px;
  --symbol-creator-canvas-height: 500px;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100vw;
}

.canvas {
  background-color: #ecf0f1;
  width: var(--canvas-width);
  height: var(--canvas-height);
}

.canvas.symbol-creator {
  width: var(--symbol-creator-canvas-width);
  height: var(--symbol-creator-canvas-height);
}

.canvas.pins-canvas {
  width: var(--symbol-creator-canvas-width);
  margin-top: -10px;
}

.stroke {
  stroke-width: var(--stroke-width);
  stroke-linecap: round;
  stroke: var(--stroke-color);
}

.background-rect {
  stroke-width: var(--background-rect-width);
  stroke-linecap: round;
  stroke-linejoin: "round";
  stroke: var(--background-rect-color);
  fill: transparent;
  opacity: 0.8;
}

.pins-stroke {
  stroke-width: var(--pins-stroke-width);
  stroke-linecap: round;
  stroke: var(--pins-color);
}

.disable-pointer-events {
  pointer-events: none;
}
